/* style to practice pure css */
/* .divider {
    border: 1px solid #995050;
    margin: 0;   
} */

.dropdown {
    display: none;
    position: absolute;
    right: 1.05%;
    padding: 8px;
    /* top: 24%; */
    background-color: #F2CB05;
    /* Tailwind CSS indigo color */
    border-radius: 15px;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.dropdown-item {
    background-color: #E7F2BD;
    padding: 10px;
    font-size: 1rem;
    color: #000;
    margin: 6px 2px 8px;
    text-align: center;
    /* Tailwind CSS white color */
    display: block;
    border-radius: 100px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #2d3748;
    color: white;
    /* Tailwind CSS gray-darker color on hover */
}

.page {
    width: 60%;
    height: 71lvh;
}