<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="3"> -->
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student: {% block title %}{% endblock %}</title>
</head>

<body>

    <!-- LOGO -->
    <nav class="flex flex-wrap items-center justify-between p-4">
        <div class="logo flex items-center justify-center bg-orange-500 rounded-full p-2 w-16 h-16 mr-4">
            <a class="text-white font-bold text-sm" href="/">Student</a>
        </div>

        <!-- Nav item list -->
        {% if session["user_id"] %}
        <ul class="flex space-x-4 m-auto text-gray max-md:hidden">
            <li><a class="bg-[#aff4c6] rounded-full px-4 py-2 hover:bg-black hover:text-[#aff4c6] transition duration-300"
                    href="/">Home</a></li>
            <li><a class="bg-[#aff4c6] rounded-full px-4 py-2 hover:bg-black hover:text-[#aff4c6] transition duration-300"
                    href="/classes">Classes</a></li>
            <li><a class="bg-[#aff4c6] rounded-full px-4 py-2 hover:bg-black hover:text-[#aff4c6] transition duration-300"
                    href="/assign">Assignments</a></li>
            <li><a class="bg-[#aff4c6] rounded-full px-4 py-2 hover:bg-black hover:text-[#aff4c6] transition duration-300"
                    href="/exams">Exams</a></li>
            <li><a class="bg-[#aff4c6] rounded-full px-4 py-2 hover:bg-black hover:text-[#aff4c6] transition duration-300"
                    href="/messages">Messages</a></li>
        </ul>

        <!-- Burger Menu Button -->
        <div class="block">
            <button id="burger-menu" class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 -960 960 960" width="64">
                    <path
                        d="M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z" />
                </svg>
            </button>
            <!-- User Profile Dropdown menu -->
            <div id="burger-menu-content" class="dropdown">
                <a href="/user" class="dropdown-item">User</a>
                <a href="/settings" class="dropdown-item">Settings</a>
                <a href="/logout"
                    class="dropdown-item hover:bg-red-500 hover:text-red-100 transition duration-300">Logout</a>
            </div>

            {% else %}
            <div id="burger-menu-content"
                class="hidden md:flex flex-col md:flex-row md:items-center md:space-x-4 mt-4 md:mt-0">
                <ul>
                    <li class="signup">Don't have an account?&ThinSpace;<a href="/signup"
                            class="text-blue-500 hover:text-blue-300">Sign
                            Up</a>
                    </li>
                    <li class="login"><a href="/login" class="text-blue-500 hover:text-blue-300">Log In</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    <!-- Section divider -->
    <hr class="divider border-t-2 border-white mx-2">

    <!-- LOG IN TEMPLATE -->
    <div class="absolute w-full mt-4 pl-20 pr-20 pb-20 flex items-center justify-center">
        {% block logIn %}
        {% endblock %}
    </div>

    <!-- SIGN UP TEMPLATE -->
    {% block signUp %}
    {% endblock %}

    <!-- Index TEMPLATE -->
    {% block index %}
    {% endblock %}

    <!-- complaint TEMPLATE -->
    {% block complaint %}
    {% endblock %}

    <!-- FLASH MESSAGES -->
    {% block flash_messages %}
    {% endblock %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            console.log("Burger menu is fully loaded!");
            // Get the dropdown and button elements
            var dropdown = document.getElementById("burger-menu-content");
            var button = document.getElementById("burger-menu");

            if (button) {
                // Function to close the dropdown by adding 'hidden' and removing 'block'
                function closeDropdown() {
                    dropdown.classList.add("hidden");
                    dropdown.classList.remove("block");
                }

                // Toggle visibility of the dropdown on button click
                button.addEventListener("click", function (event) {
                    event.stopPropagation(); // Prevent the window click event from firing immediately
                    dropdown.classList.remove("hidden");
                    dropdown.classList.toggle("block");
                });

                // Close the dropdown when clicking outside of it
                window.addEventListener("click", function (event) {
                    if (!dropdown.contains(event.target) && !button.contains(event.target)) {
                        closeDropdown();
                    }
                });
            }
        });
    </script>
</body>

</html>